.metadata/**
.recommenders/**
*.class
*.dtd
*.lst
*.lock
*.lo
*.jar
*.project
*.classpath
*.prefs
*.map
*.zip
*.sha
*.sha
**/build.xml
**/pom.xml
*.MF
*.sh
keybinds.txt
settings_bool.txt
settings_num.txt